// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.avatar-in-tweet {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

// .follow-btn {

// }

.retweet-ref {
    color: yellow;
    font-size: 10px;
    padding: 2px;
    background-color: gray;
}

.avatar-in-retweet{
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}